/* @import "../src/common/login.less"; */

/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
.mt32 {
  margin-top: 32px;
}
.yun_loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.al_center {
  align-items: center;
}
.pd23 {
  box-sizing: border-box;
  padding: 0 0.23rem;
}